@font-face {
  font-family: "SourceSansPro";
  src: url("SourceSansPro-Regular.otf");
}

body {
  overflow-x: hidden;
  background: #2573b8;
  font-family: "SourceSansPro", sans-serif;
  font-weight: 300;
  color: #fff;
}

.curve {
  border: 48px solid #5ad;
  border-top: none;
  border-bottom-right-radius: 48% 64%;
  border-bottom-left-radius: 32% 12%;
  position: absolute;
  top: -24rem;
  height: 40rem;
  width: 160%;
  left: -40%;
  padding: 0;
  margin: 0;
  transform: rotate(-16deg);
  z-index: auto;
}

@keyframes curveHover {
  from { border-image: linear-gradient(45deg, #5ad, #fff) 32; }
  50% { border-image: linear-gradient(45deg, #5ad, #fff, #5ad) 32; }
  to { border-image: linear-gradient(45deg, #fff, #5ad) 32; }
}

.curve:hover {
  animation-name: curveHover;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

body div {
  margin: 1rem;
}
