@font-face {
  font-family: "SourceSansPro";
  src: url("SourceSansPro-Regular.otf");
}

body {
  overflow-x: hidden;
  font-family: "SourceSansPro", sans-serif;
  padding: 0px;
}

.top {
  color: #fff;
  font-weight: 300;
  background: #2573b8;
  height: 100vh;
  margin: -2rem;
}

.curve {
  border: 48px solid #5ad;
  border-top: none;
  border-bottom-right-radius: 48% 64%;
  border-bottom-left-radius: 32% 12%;
  position: absolute;
  top: -24rem;
  height: 40rem;
  width: 160%;
  left: -40%;
  padding: 0;
  margin: 0;
  transform: rotate(-16deg);
  z-index: auto;
}

body div {
  padding: 1rem; 
}
